PORT=3000
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=admin123
DB_NAME=tareas_db
JWT_SECRET=cambia-esta-clave-en-produccion
JWT_EXPIRES_IN=8h
BCRYPT_ROUNDS=10
FRONTEND_URL=http://localhost:4200,https://tu-app-en-produccion.vercel.app
